.main_block h2 {
    width: 280px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 100;
    color: #fff;
    margin: 25px 0;
    text-transform: uppercase;
    font-family: Arial;
}
.main_block .phone span.ie_1 {
    background: url("../images/phone.png") top left no-repeat;
    width: 190px;
    height: 51px;
    display: block;
    font-size: 32px;
    padding: 5px 10px;
    letter-spacing: -1px;
    text-shadow: 0 0 0;
}
.main_block>p.ie_2 {
    width: 330px;
}
.slider form input[type="text"].ie_3 {
    width: 70px;
    margin: 10px 0 0 330px;
}
.popup form input[type="text"].ie_4 {
    width: 70px;
    margin: 10px 0 0 115px;
}
.slider .dialog .tr1 {
    bottom: 0;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
}
.slider .dialog .tr2 {
    bottom: 45px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
.slider .dialog .tr3 {
    bottom: 90px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
.slider .dialog .tr4 {
    bottom: 135px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}
.slider .dialog .tr5 {
    bottom: 180px;
    opacity: 0.2;
    filter: alpha(opacity=20);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
}
.overlay {
    display: none;
    background: transparent;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
.placeholder {
    color: #fff;
    font:14px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
.leftcol .post .tit {
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, serif;
    color: #006595;
    display: block;
    float: left;
    width: 330px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 10px 0;
}
.readmore h2 {
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, serif;
    color: #006595;
    display: block;
    float: left;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 10px 0;
}
.send span {
    color: #cecece;
    font-family: Arial, serif;
    font-size: 19px;
    line-height: 16px;
    letter-spacing: -1px;
    display: block;
    float: left;
}
.page .tit {
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, serif;
    color: #006595;
    text-transform: uppercase;
    letter-spacing: -1px;
}